.homeContainer {
    margin: -40px 0 0 -50px;
}
#mapGiziContainer, #mapObesitasContainer {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}


.homeContainer h1 {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 64px;
    color: #93B4EA;
}