@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import './styles/signin.css';
@import './styles/sidebar.css';
@import './styles/profile.css';
@import './styles/history.css';
@import './styles/home.css';
@import './styles//pengukuran.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 100%;
}


body {
  background-color: #f0f0f0;
  color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}
.dashboardContainer{
  margin: -40px 0 0 -50px;

}
